.bg1 {
  background-color: #ff8c00;
}
.cen {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
}
.mt {
  margin-top: 170px;
}
.mt1 {
  margin-top: 100px;
}
.mt2 {
  margin-top: 56px;
}
/* 
a:hover {
  color: sandybrown;
} */
.box {
  box-shadow: 7px 7px 3px grey;
  text-shadow: 1px 1px red;
}
/* .col div:hover {
  background-color: greenyellow;
} */
body {
  overflow-x: hidden;
}
.sidebar {
  width: 215px;
  height: 85vh;
  position: fixed;
  background-color: darkgray;
}

.nav-link:active,
.nav-link:hover {
  background-color: #ffffff26;
}
/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .mt {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .navbar a.navbar-brand {
    padding-left: 30%;
  }
  .sidebar {
    width: 0;
    height: 0;
  }
}
