.bg1 {
  background-color: #ff8c00;
}
.cen {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  margin-top: 170px;
}
.mt1 {
  margin-top: 100px;
}

.box {
  box-shadow: 7px 7px 3px grey;
  text-shadow: 1px 1px red;
}
body {
  overflow-x: hidden;
}
.sidebar {
  top: 57px;
  left: 0;
  width: 180px;
  height: 100%;
  position: fixed;
  background-color: #f1f1f1;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding-top: 16px;
  padding-left: 40px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}
div.content {
  margin-top: 57px;
  margin-left: 180px;
  padding: 1px 16px;
  height: 1000px;
}
.sidebar a:hover:not(.active) {
  background-color: white;
}
/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .mt {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .navbar a.navbar-brand {
    padding-left: 30%;
  }
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  div.content {
    margin-left: 0;
  }
  .sidebar a {
    float: left;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  .sidebar a {
    float: left;
    padding: 10px;
  }
}
